<!doctype html>
<html lang="zh-CN" ng-app="myApp">
<head>
    <title>test directive</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/angular@1.6.6/angular.js"></script>

<body ng-app="myApp" ng-controller="myCtrl">
<input type='text' ng-model='outerName' placeholder='白衣如花'>

<test-directive inner-name="{{outerName}}"></test-directive>

<script>
    angular.module("myApp", [])
        .controller("myCtrl", function ($scope) {
        })
        .directive("testDirective", function () {
            return {
                restrict: "E",
                scope: {
                    innerName: "@"
                },
                template: "<p>名字：{{innerName}}</p>" +
                "<button ng-click='innerName=innerName+1'>点击</button>"
            }
        });
</script>

</body>
</html>