<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../bower_components/material-design-icons-font/iconfont/material-icons.css">
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="../bower_components/angular-material-icons/angular-material-icons.css"/>

    <style>
        .itemClass:nth-of-type(1) {
            background: red;
        }

        .itemClass:nth-of-type(2) {
            background: blue;
        }

        .itemClass:nth-of-type(3) {
            background: slateblue;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myController">
<my-root-tag ng-repeat="item in items">
    <my-child-tag ng-model="item"></my-child-tag>
</my-root-tag>
</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-material/angular-material.min.js"></script>
<script src="../bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<script src="../bower_components/svg-morpheus/compile/minified/svg-morpheus.js"></script>
<script>
    var app = angular.module('myApp', []);
    app.controller('myController', function ($scope, $sce) {
        $scope.$sce = $sce;
        $scope.items = [{
            name: "枕头1",
            price: 101,
            img: "http://www.baidu.com/xxx.png",
            description: "好枕头1，<span  style='color:red;' onclick='alert(111)'>低价卖</span>, 快来买"
        }, {
            name: "枕头1",
            price: 102,
            img: "http://www.baidu.com/xxx.png",
            description: "好枕头2，<span  style='color:red;' onclick='alert(111)'>低价卖</span>, 快来买"
        }, {
            name: "枕头1",
            price: 103,
            img: "http://www.baidu.com/xxx.png",
            description: "好枕头3，<span  style='color:red;' onclick='alert(111)'>低价卖</span>, 快来买"
        }];
    });
    app.directive('myRootTag', function () {
        return {
            restrict: 'E',
            template: '<div class="itemClass">' +
                            '<ul>' +
                                '<li>{{item.name}}</li>' +
                                '<li>{{item.img}}</li>' +
                                '<li ng-bind-html="$sce.trustAsHtml(item.description)"></li>' +
                            '</ul>' +
                        '</div>',
            replace: true
        }
    })

</script>
</html>
